body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 50%;
  height: 90vh;
  background-color: lightgrey;
}

.title {
  display: flex;
  font-size: 20px;
  color: black;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: grey;
}

.date {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: grey;
  border: solid;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background-color: lightslategray;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lightskyblue;
}
